.video-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 10px;
    justify-items: center;
    align-items: start;
  }
  
  .video-grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid gray;
    padding: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .video-title {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid gray;
    padding: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
  }